<div class="<%= class_names(:card, @classes) %>">
  <% if @image %>
    <%= image_tag @image, class: 'card-img-top', alt: @image_alt %>
  <% end %>
  <% if header %>
    <div class="card-header">
      <%= header %>
    </div>
  <% end %>
  <% if body %>
    <div class="card-body">
      <%= body %>
    </div>
  <% end %>
  <% if footer %>
    <div class="card-footer">
      <%= footer %>
    </div>
  <% end %>
</div>