<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('home.title'), root_path %></li>
    <li class="breadcrumb-item"><%= link_to t('vehicle.list.title'), vehicles_path %></li>
    <li class="breadcrumb-item"><%= link_to @vehicle.display_name, vehicle_path(@vehicle) %></li>
    <li class="breadcrumb-item active"><%= t 'odometer_reading.list.title' %></li>
  </ol>
</nav>

<h1>
  <%= t 'vehicle.odometer_title',
        vehicle: @vehicle.display_name,
        miles: t('miles', miles: number_with_delimiter(@vehicle.odometer)) %>
</h1>

<p>
  <%= link_to t('vehicle.link.vehicle_back', vehicle: @vehicle.display_name), vehicle_path(@vehicle) %>
</p>

<% default_accordion_item = if @odometer_reading && @vehicle.odometer_readings.empty?
                              :record
                            else
                              :list
                            end %>

<%= render AccordionComponent.new do |c| %>
  <% if @odometer_reading %>
    <% c.with_item(expanded: default_accordion_item == :record, title: t('odometer_reading.create.title')) do %>
      <%= render 'form', vehicle: @vehicle, odometer_reading: @odometer_reading %>
    <% end %>
  <% end %>
  <% c.with_item(expanded: default_accordion_item == :list, title: OdometerReading.model_name.human(count: @vehicle.odometer_readings.count)) do %>
    <ul>
      <% @odometer_readings.inverse_chrono.each do |odometer_reading| %>
        <li class="my-1">
          <div class="d-flex align-items-center">
            <%=
              I18n.t(
                'odometer_reading.preview',
                reading: number_with_delimiter(odometer_reading.reading),
                performed_at: display_time(
                  odometer_reading.performed_at,
                  format: if odometer_reading.include_time
                            :date_and_time
                          else
                            :date_only
                          end
                )
              )
            %>
            <% if odometer_reading.log_item %>
              <%= link_to t('odometer_reading.link.log_item'), vehicle_log_item_path(@vehicle, odometer_reading.log_item), class: 'mx-1 btn btn-sm btn-primary' %>
            <% end %>
            <%= link_to t('odometer_reading.link.edit'), edit_vehicle_odometer_reading_path(@vehicle, odometer_reading), class: 'mx-1 btn btn-sm btn-secondary' %>
            <%= button_to t('odometer_reading.link.destroy'), vehicle_odometer_reading_path(@vehicle, odometer_reading), method: :delete, class: 'mx-1 btn btn-sm btn-danger' %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
