<%= bootstrap_form_with(model: [vehicle, log_item]) do |form| %>
  <p>
    <%= LogItem.human_attribute_name(:vehicle) %>:
    <%= link_to @vehicle.display_name, vehicle_path(@vehicle) %>
  </p>
  <%= form.text_field :display_name %>
  <%= form.text_field :odometer_reading_reading %>
  <%= form.datetime_field :performed_at,
                          value: convert_for_datetime_field(log_item.performed_at),
                          max: convert_for_datetime_field(Time.now) %>
  <p><%= t 'current_time_zone' %>: <%= current_user.tz.name %></p>
  <%= form.check_box :include_time %>
  <%= form.submit %>
<% end %>
