<div id="<%= dom_id log_item %>">
  <p>
    <strong><%= LogItem.human_attribute_name(:display_name) %>:</strong>
    <%= log_item.display_name %>
  </p>

  <% unless log_item.shop.nil? %>
    <p>
      <strong><%= LogItem.human_attribute_name(:shop) %>:</strong>
      <%= link_to log_item.shop.name, '#' %>
    </p>
  <% end %>

  <% unless log_item.performed_at.nil? %>
    <p>
      <strong><%= LogItem.human_attribute_name(:performed_at) %>:</strong>
      <%= display_time(log_item.performed_at, format: if log_item.include_time then :date_and_time else :date_only end) %>
    </p>
  <% end %>

  <% if log_item.odometer_reading_reading %>
    <p>
      <strong><%= LogItem.human_attribute_name(:odometer_reading_reading) %></strong>:
      <%= t :miles, miles: log_item.odometer_reading_reading %>
    </p>
  <% end %>

  <ul>
    <% log_item.line_items.each do |line_item| %>
      <li><%= line_item.type.display_name %></li>
    <% end %>
  </ul>
</div>
