<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('home.title'), root_path %></li>
    <li class="breadcrumb-item"><%= link_to t('vehicle.list.title'), vehicles_path %></li>
    <li class="breadcrumb-item"><%= link_to @vehicle.display_name, vehicle_path(@vehicle) %></li>
    <li class="breadcrumb-item active"><%= t 'log_item.list.title' %></li>
  </ol>
</nav>

<h1>
  <%= t 'vehicle.log_items_title',
        vehicle: @vehicle.display_name %>
</h1>

<div id="log_items" class="list-group">
  <% @log_items.inverse_chrono.each do |log_item| %>
    <a href="<%= vehicle_log_item_path(@vehicle, log_item) %>" class="list-group-item list-group-item-action">
      <%= render(LogItemPreviewComponent.new(log_item:)) %>
    </a>
  <% end %>
</div>

<%= link_to "New log item", new_vehicle_log_item_path(@vehicle) %>
