<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('home.title'), root_path %></li>
    <li class="breadcrumb-item"><%= link_to t('vehicle.list.title'), vehicles_path %></li>
    <li class="breadcrumb-item"><%= link_to @vehicle.display_name, vehicle_path(@vehicle) %></li>
    <li class="breadcrumb-item"><%= link_to t('log_item.list.title'), vehicle_log_items_path(@vehicle) %></li>
    <li class="breadcrumb-item active"><%= @log_item.display_name %></li>
  </ol>
</nav>

<%= render @log_item %>

<div>
  <%= link_to "Edit this log item", edit_vehicle_log_item_path(@vehicle, @log_item) %> |
  <%= link_to "Back to log items", vehicle_log_items_path(@vehicle) %>

  <%= button_to "Destroy this log item", vehicle_log_item_path(@vehicle, @log_item), method: :delete, class: 'btn btn-danger' %>
</div>
