<div id="<%= dom_id vehicle %>">
  <h2>
    <%= vehicle.display_name %>
    <span class="small text-secondary">
        &middot;
      <% if vehicle.vin %>
          <%= Vehicle.human_attribute_name(:vin) %>:
          <strong><%= vehicle.vin %></strong>
          &middot;
        <% end %>
      <%= t 'miles', miles: vehicle.odometer %>
      </span>
  </h2>
  <% unless vehicle.model_year.nil? %>
    <p>
      <strong><%= Vehicle.human_attribute_name(:model_year) %>:</strong>
      <%= vehicle.model_year %>
    </p>
  <% end %>
  <% unless vehicle.make.nil? %>
    <p>
      <strong><%= Vehicle.human_attribute_name(:make) %>:</strong>
      <%= vehicle.make %>
    </p>
  <% end %>
  <% unless vehicle.model.nil? %>
    <p>
      <strong><%= Vehicle.human_attribute_name(:model) %>:</strong>
      <%= vehicle.model %>
    </p>
  <% end %>
  <% unless vehicle.breakin.nil? %>
    <p>
      <strong><%= Vehicle.human_attribute_name(:breakin) %>:</strong>
      <%= t 'miles', miles: number_with_delimiter(vehicle.breakin) %>
    </p>
  <% end %>
  <% unless vehicle.miles_per_year.nil? %>
    <p>
      <strong><%= Vehicle.human_attribute_name(:miles_per_year) %>:</strong>
      <%= t 'miles_per_year', miles_per_year: number_with_delimiter(vehicle.miles_per_year) %>
    </p>
  <% end %>
  <% unless vehicle.current_tires.nil? %>
    <p>
      <strong><%= Vehicle.human_attribute_name(:current_tires) %>:</strong>
      <%= link_to vehicle.current_tires.display_name, vehicle.current_tires %>
    </p>
  <% end %>
</div>
