<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Breakin:</strong>
    <%= vehicle.breakin %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= vehicle.display_name %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= vehicle.make %>
  </p>

  <p>
    <strong>Miles per year:</strong>
    <%= vehicle.miles_per_year %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Vin:</strong>
    <%= vehicle.vin %>
  </p>

  <p>
    <strong>Model year:</strong>
    <%= vehicle.model_year %>
  </p>

  <% if vehicle.current_tires then %>
  <p>
    <strong>Tires:</strong>
    <%= link_to vehicle.current_tires.display_name, vehicle.current_tires %>
  </p>
  <% end %>

</div>
