<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('home.title'), root_path %></li>
    <li class="breadcrumb-item active"><%= t 'vehicle.list.title' %></li>
  </ol>
</nav>

<h1><%= t 'vehicle.list.title' %></h1>

<div id="vehicles" class="row row-cols-1 row-cols-md-2 g-4">
  <% @vehicles.each do |vehicle| %>
    <div class="col">
      <div class="card">
        <% if vehicle.photo.attached? %>
          <%= image_tag vehicle.photo, class: 'card-img-top' %>
        <% end %>
        <div class="card-body">
          <%= render vehicle %>
          <% if policy(vehicle).show? %>
            <%= link_to t('vehicle.link.show'), vehicle_path(vehicle), class: 'card-link' %>
          <% end %>
          <% if policy(vehicle).edit? %>
            <%= link_to t('vehicle.link.edit'), edit_vehicle_path(vehicle), class: 'card-link' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= button_to t('vehicle.link.new'), new_vehicle_path, method: :get, class: 'btn btn-primary my-4' %>
