<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('home.title'), root_path %></li>
    <li class="breadcrumb-item active"><%= t 'vehicle.list.title' %></li>
  </ol>
</nav>

<h1><%= t 'vehicle.list.title' %></h1>
<%= button_to t('vehicle.link.new'), new_vehicle_path, method: :get, class: 'btn btn-primary my-4' %>

<%= render(CardsComponent.new) do |cards| %>
  <% @vehicles.each do |vehicle| %>
    <% cards.with_card(image: vehicle.photo.attached? ? url_for(vehicle.photo) : nil) do |card| %>
      <% card.with_body do %>
        <%= render vehicle %>
      <% end %>
      <% card.with_footer do %>
        <div class="btn-group">
          <% if policy(vehicle).show? %>
            <%= link_to t('vehicle.link.show'), vehicle_path(vehicle), class: 'btn btn-secondary' %>
          <% end %>
          <% if policy(vehicle).edit? %>
            <%= link_to t('vehicle.link.edit'), edit_vehicle_path(vehicle), class: 'btn btn-outline-secondary' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
