<%= render @vehicle %>

<div>
  <p class="my-1">
    <%= link_to t('vehicle.link.back'), vehicles_path %>
  </p>
  <p class="my-1">
    <%= link_to t('vehicle.link.odometer'), vehicle_odometer_readings_path(@vehicle) %>
  </p>
  <p class="my-1">
    <%= link_to t('vehicle.link.log'), vehicle_log_items_path(@vehicle) %>
  </p>
  <% if policy(@vehicle).edit? %>
    <%= button_to t('vehicle.link.edit'), edit_vehicle_path(@vehicle), method: :get, class: 'btn btn-primary my-1' %>
  <% end %>
  <% if policy(@vehicle).destroy? %>
    <%= button_to t('vehicle.link.destroy'), @vehicle, method: :delete, class: 'btn btn-danger my-1' %>
  <% end %>
</div>
