<%= bootstrap_form_with(model: tire_set, data: { controller: 'tire-set--display-name-and-specs' }) do |form| %>
  <%= form.text_field :make, data: {
    action: 'tire-set--display-name-and-specs#update',
    'tire-set--display-name-and-specs-target' => 'make'
  } %>
  <%= form.text_field :model, data: {
    action: 'tire-set--display-name-and-specs#update',
    'tire-set--display-name-and-specs-target' => 'model'
  } %>
  <%= form.text_field :tin %>
  <%= form.text_field :user_display_name, placeholder: tire_set.generate_display_name, data: { 'tire-set--display-name-and-specs-target' => 'displayName' } %>
  <%= form.text_field :breakin %>
  <%= form.text_field :base_miles %>
  <%= form.check_box :hidden %>

  <h2><%= TireSet.human_attribute_name(:specs) %></h2>
  <p data-tire-set--display-name-and-specs-target="specs"><%= tire_set.specs %></p>
  <%= form.text_field :vehicle_type, data: {
    action: 'tire-set--display-name-and-specs#update',
    'tire-set--display-name-and-specs-target' => 'vehicleType'
  } %>
  <%= form.text_field :width, data: {
    action: 'tire-set--display-name-and-specs#update',
    'tire-set--display-name-and-specs-target' => 'width'
  } %>
  <%= form.text_field :aspect_ratio, data: {
    action: 'tire-set--display-name-and-specs#update',
    'tire-set--display-name-and-specs-target' => 'aspectRatio'
  } %>
  <%= form.text_field :construction, data: {
    action: 'tire-set--display-name-and-specs#update',
    'tire-set--display-name-and-specs-target' => 'construction'
  } %>
  <%= form.text_field :diameter, data: {
    action: 'tire-set--display-name-and-specs#update',
    'tire-set--display-name-and-specs-target' => 'diameter'
  } %>
  <%= form.text_field :load_index, data: {
    action: 'tire-set--display-name-and-specs#update',
    'tire-set--display-name-and-specs-target' => 'loadIndex'
  } %>
  <%= form.text_field :speed_rating, data: {
    action: 'tire-set--display-name-and-specs#update',
    'tire-set--display-name-and-specs-target' => 'speedRating'
  } %>

  <%= form.submit %>
<% end %>
