<div id="<%= dom_id tire_set %>">
  <h2>
    <%= tire_set.display_name %>
    <span class="small text-secondary">
      &middot;
      <% if tire_set.tin %>
        <%= TireSet.human_attribute_name(:tin) %>:
        <strong><%= tire_set.tin %></strong>
        &middot;
      <% end %>
      <%= t 'miles', miles: number_with_delimiter(tire_set.odometer) %>
    </span>
  </h2>
  <% unless tire_set.owner.nil? %>
    <p>
      <strong><%= TireSet.human_attribute_name(:owner) %>:</strong>
      <%= tire_set.owner.name %>
    </p>
  <% end %>
  <% unless tire_set.make.nil? %>
    <p>
      <strong><%= TireSet.human_attribute_name(:make) %>:</strong>
      <%= tire_set.make %>
    </p>
  <% end %>
  <% unless tire_set.model.nil? %>
    <p>
      <strong><%= TireSet.human_attribute_name(:model) %>:</strong>
      <%= tire_set.model %>
    </p>
  <% end %>
  <% unless tire_set.tin.nil? %>
    <p>
      <strong><%= TireSet.human_attribute_name(:tin) %>:</strong>
      <%= tire_set.tin %>
    </p>
  <% end %>
  <% unless tire_set.breakin.nil? %>
    <p>
      <strong><%= TireSet.human_attribute_name(:breakin) %>:</strong>
      <%= t 'miles', miles: number_with_delimiter(tire_set.breakin) %>
    </p>
  <% end %>
  <p>
    <strong><%= TireSet.human_attribute_name(:category) %>:</strong>
    <%= t tire_set.category, scope: 'activerecord.attributes.tire_set.categories' %>
  </p>
  <p>
    <strong><%= TireSet.human_attribute_name(:specs) %>:</strong>
    <%= tire_set.specs %>
  </p>
</div>
