<div id="<%= dom_id tire_set %>">
  <p>
    <strong>Aspect ratio:</strong>
    <%= tire_set.aspect_ratio %>
  </p>

  <p>
    <strong>Base miles:</strong>
    <%= tire_set.base_miles %>
  </p>

  <p>
    <strong>Breakin:</strong>
    <%= tire_set.breakin %>
  </p>

  <p>
    <strong>Construction:</strong>
    <%= tire_set.construction %>
  </p>

  <p>
    <strong>Diameter:</strong>
    <%= tire_set.diameter %>
  </p>

  <p>
    <strong>Hidden:</strong>
    <%= tire_set.hidden %>
  </p>

  <p>
    <strong>Load index:</strong>
    <%= tire_set.load_index %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= tire_set.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= tire_set.model %>
  </p>

  <p>
    <strong>Speed rating:</strong>
    <%= tire_set.speed_rating %>
  </p>

  <p>
    <strong>Tin:</strong>
    <%= tire_set.tin %>
  </p>

  <p>
    <strong>User display name:</strong>
    <%= tire_set.user_display_name %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= tire_set.vehicle_type %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= tire_set.width %>
  </p>

  <p>
    <strong>Specs:</strong>
    <%= tire_set.specs %>
  </p>

</div>
