<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('home.title'), root_path %></li>
    <li class="breadcrumb-item active"><%= t 'tire_set.list.title' %></li>
  </ol>
</nav>

<h1><%= t 'tire_set.list.title' %></h1>

<%= button_to t('tire_set.link.new'), new_tire_set_path, method: :get, class: 'btn btn-primary my-4' %>

<%= render(CardsComponent.new) do |cards| %>
  <% @tire_sets.each do |tire_set| %>
    <% cards.with_card do |card| %>
      <% card.with_body do %>
        <%= render tire_set %>
      <% end %>
      <% card.with_footer do %>
        <div class="btn-group">
          <% if policy(tire_set).show? %>
            <%= link_to t('tire_set.link.show'), tire_set_path(tire_set), class: 'btn btn-secondary' %>
          <% end %>
          <% if policy(tire_set).edit? %>
            <%= link_to t('tire_set.link.edit'), edit_tire_set_path(tire_set), class: 'btn btn-outline-secondary' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
