<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('home.title'), root_path %></li>
    <li class="breadcrumb-item"><%= link_to t('tire_set.list.title'), tire_sets_path %></li>
    <li class="breadcrumb-item active"><%= t 'tire_set.creating' %></li>
  </ol>
</nav>

<h1><%= t 'tire_set.creating' %></h1>

<%= render "form", tire_set: @tire_set %>

<br>

<div>
  <%= link_to t('tire_set.link.back'), tire_sets_path %>
</div>
