<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t :app_name %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="container my-5">
  <% if alert %>
    <%= render(AlertComponent.new(color: :warning, dismissible: true)) do %>
      <%= alert %>
    <% end %>
  <% end %>
  <% if notice %>
    <%= render(AlertComponent.new(color: :info, dismissible: true)) do %>
      <%= notice %>
    <% end %>
  <% end %>
  <main>
    <%= yield %>
  </main>
</div>
</body>
</html>
